In [1]:
import pandas as pd

In [2]:
tweets = pd.read_csv('tweets.csv')

In [3]:
tweets.head()

,source,text,created_at,retweet_count,favorite_count
0,Twitter for iPhone,I will be announcing my Second Term Presidenti...,05-31-2019 20:35:41,35248,128039
1,Twitter Media Studio,GREAT NEWS! #MAGA https://t.co/91Yk8B11bP,05-31-2019 20:02:16,20493,75339
2,Twitter for iPhone,As we celebrate LGBT Pride Month and recognize...,05-31-2019 19:12:32,28936,136614
3,Twitter for iPhone,....on the basis of their sexual orientation. ...,05-31-2019 19:12:32,20416,105421
4,Twitter for iPhone,.@SeanHannity is having a DEEP STATE SHOW toni...,05-31-2019 18:11:25,18257,65602

In [4]:
len(tweets)

6596

In [5]:
tweets.tail()

,source,text,created_at,retweet_count,favorite_count
6591,Twitter for Android,I thought and felt I would win big easily over...,01-02-2017 18:44:04,13437,62670
6592,Twitter for Android,Various media outlets and pundits say that I t...,01-02-2017 18:37:10,9057,47285
6593,Twitter for Android,"@CNN just released a book called ""Unprecedente...",01-02-2017 18:32:29,3948,13862
6594,Twitter for Android,Chicago murder rate is record setting - 4331 s...,01-02-2017 17:31:17,17411,63340
6595,Twitter for Android,Well the New Year begins. We will together MAK...,01-02-2017 14:40:10,29248,124024

In [6]:
tweets['source'].value_counts()

Twitter for iPhone      6008
Twitter for Android      274
Media Studio             149
Twitter Web Client        54
Twitter Media Studio      43
Twitter for iPad          35
Twitter Ads               33
Name: source, dtype: int64